BasicSummary.tex
BasicSummary.tex.md5
BasicSummary_doc.pdf
BasicSummary_doc.tex
Basic_cats_arbitrary_10_full.tex
Basic_cats_arbitrary_10_full.tex.md5
Basic_cats_arbitrary_10_full_doc.pdf
Basic_cats_arbitrary_10_full_doc.tex
Basic_cats_arbitrary_10_partial.tex
Basic_cats_arbitrary_10_partial.tex.md5
Basic_cats_arbitrary_10_partial_doc.pdf
Basic_cats_arbitrary_10_partial_doc.tex
Basic_cats_arbitrary_30_full.tex
Basic_cats_arbitrary_30_full.tex.md5
Basic_cats_arbitrary_30_full_doc.pdf
Basic_cats_arbitrary_30_full_doc.tex
Basic_cats_arbitrary_30_partial.tex
Basic_cats_arbitrary_30_partial.tex.md5
Basic_cats_arbitrary_30_partial_doc.pdf
Basic_cats_arbitrary_30_partial_doc.tex
Basic_cats_path_10_full.tex
Basic_cats_path_10_full.tex.md5
Basic_cats_path_10_full_doc.pdf
Basic_cats_path_10_full_doc.tex
Basic_cats_path_10_partial.tex
Basic_cats_path_10_partial.tex.md5
Basic_cats_path_10_partial_doc.pdf
Basic_cats_path_10_partial_doc.tex
Basic_cats_path_30_full.tex
Basic_cats_path_30_full.tex.md5
Basic_cats_path_30_full_doc.pdf
Basic_cats_path_30_full_doc.tex
Basic_cats_path_30_partial.tex
Basic_cats_path_30_partial.tex.md5
Basic_cats_path_30_partial_doc.pdf
Basic_cats_path_30_partial_doc.tex
Basic_cats_reg_10_full.tex
Basic_cats_reg_10_full.tex.md5
Basic_cats_reg_10_full_doc.pdf
Basic_cats_reg_10_full_doc.tex
Basic_cats_reg_10_partial.tex
Basic_cats_reg_10_partial.tex.md5
Basic_cats_reg_10_partial_doc.pdf
Basic_cats_reg_10_partial_doc.tex
Basic_cats_reg_30_full.tex
Basic_cats_reg_30_full.tex.md5
Basic_cats_reg_30_full_doc.pdf
Basic_cats_reg_30_full_doc.tex
Basic_cats_reg_30_partial.tex
Basic_cats_reg_30_partial.tex.md5
Basic_cats_reg_30_partial_doc.pdf
Basic_cats_reg_30_partial_doc.tex
Basic_qv_10_full.tex
Basic_qv_10_full.tex.md5
Basic_qv_10_full_doc.pdf
Basic_qv_10_full_doc.tex
Basic_qv_10_partial.tex
Basic_qv_10_partial.tex.md5
Basic_qv_10_partial_doc.pdf
Basic_qv_10_partial_doc.tex
Basic_qv_30_full.tex
Basic_qv_30_full.tex.md5
Basic_qv_30_full_doc.pdf
Basic_qv_30_full_doc.tex
Basic_qv_30_partial.tex
Basic_qv_30_partial.tex.md5
Basic_qv_30_partial_doc.pdf
Basic_qv_30_partial_doc.tex
Basic_stepc_map_cats_arbitrary_full.tex
Basic_stepc_map_cats_arbitrary_full.tex.md5
Basic_stepc_map_cats_arbitrary_full_doc.pdf
Basic_stepc_map_cats_arbitrary_full_doc.tex
Basic_stepc_map_cats_arbitrary_partial.tex
Basic_stepc_map_cats_arbitrary_partial.tex.md5
Basic_stepc_map_cats_arbitrary_partial_doc.pdf
Basic_stepc_map_cats_arbitrary_partial_doc.tex
Basic_stepc_map_cats_path_full.tex
Basic_stepc_map_cats_path_full.tex.md5
Basic_stepc_map_cats_path_full_doc.pdf
Basic_stepc_map_cats_path_full_doc.tex
Basic_stepc_map_cats_path_partial.tex
Basic_stepc_map_cats_path_partial.tex.md5
Basic_stepc_map_cats_path_partial_doc.pdf
Basic_stepc_map_cats_path_partial_doc.tex
Basic_stepc_map_cats_reg_full.tex
Basic_stepc_map_cats_reg_full.tex.md5
Basic_stepc_map_cats_reg_full_doc.pdf
Basic_stepc_map_cats_reg_full_doc.tex
Basic_stepc_map_cats_reg_partial.tex
Basic_stepc_map_cats_reg_partial.tex.md5
Basic_stepc_map_cats_reg_partial_doc.pdf
Basic_stepc_map_cats_reg_partial_doc.tex
Basic_stepc_map_qv_full.tex
Basic_stepc_map_qv_full.tex.md5
Basic_stepc_map_qv_full_doc.pdf
Basic_stepc_map_qv_full_doc.tex
Basic_stepc_map_qv_partial.tex
Basic_stepc_map_qv_partial.tex.md5
Basic_stepc_map_qv_partial_doc.pdf
Basic_stepc_map_qv_partial_doc.tex
Efficiency.tex
Efficiency.tex.md5
Efficiency_doc.pdf
Efficiency_doc.tex
PercentCleared.tex
PercentCleared.tex.md5
PercentCleared_doc.pdf
PercentCleared_doc.tex
PriceDegree.tex
PriceDegree.tex.md5
PriceDegreeMean.tex
PriceDegreeMean.tex.md5
PriceDegreeMean_doc.pdf
PriceDegreeMean_doc.tex
PriceDegree_doc.pdf
PriceDegree_doc.tex
PriceTerms.tex
PriceTerms.tex.md5
PriceTerms_doc.pdf
PriceTerms_doc.tex
Revenue.tex
Revenue.tex.md5
Revenue_doc.pdf
Revenue_doc.tex
Rounds.tex
Rounds.tex.md5
Rounds_doc.pdf
Rounds_doc.tex
Runtime.tex
Runtime.tex.md5
Runtime_doc.pdf
Runtime_doc.tex
StepCMap.tex
StepCMap.tex.md5
StepCMap_doc.pdf
StepCMap_doc.tex