default-Efficiency.tex
default-Efficiency.tex.md5
default-Efficiency_doc.pdf
default-PercentCleared.tex
default-PercentCleared.tex.md5
default-PercentCleared_doc.pdf
default-PriceDegree.tex
default-PriceDegree.tex.md5
default-PriceDegree_doc.pdf
default-PriceTerms.tex
default-PriceTerms.tex.md5
default-PriceTerms_doc.pdf
default-Revenue.tex
default-Revenue.tex.md5
default-Revenue_doc.pdf
default-Rounds.tex
default-Rounds.tex.md5
default-Rounds_doc.pdf
default-Runtime.tex
default-Runtime.tex.md5
default-Runtime_doc.pdf
heuristic-Efficiency.tex
heuristic-Efficiency.tex.md5
heuristic-Efficiency_doc.pdf
heuristic-PercentCleared.tex
heuristic-PercentCleared.tex.md5
heuristic-PercentCleared_doc.pdf
heuristic-PriceDegree.tex
heuristic-PriceDegree.tex.md5
heuristic-PriceDegree_doc.pdf
heuristic-PriceTerms.tex
heuristic-PriceTerms.tex.md5
heuristic-PriceTerms_doc.pdf
heuristic-Revenue.tex
heuristic-Revenue.tex.md5
heuristic-Revenue_doc.pdf
heuristic-Rounds.tex
heuristic-Rounds.tex.md5
heuristic-Rounds_doc.pdf
heuristic-Runtime.tex
heuristic-Runtime.tex.md5
heuristic-Runtime_doc.pdf

heuristic-Efficiency_doc.tex
heuristic-PercentCleared_doc.tex
heuristic-PriceDegree_doc.tex
heuristic-PriceTerms_doc.tex
heuristic-Revenue_doc.tex
heuristic-Rounds_doc.tex
heuristic-Runtime_doc.tex
